@import url(https://fonts.googleapis.com/css?family=Bangers);
@import url(https://fonts.googleapis.com/css?family=Orbitron);
@import url(https://fonts.googleapis.com/css?family=Jura:400,600);

header {
    background-color:#FFED74;
    border: 1px black solid;
    padding: 20px;
    font-family: 'Orbitron';
    font-size: 75px;
    text-align: center;
}

head {    
    font-weight: 100;
    font-family: 'Orbitron';
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}

body {
	background: url(images/nightbaybridge.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	background-color: black;
}

h2 {
	color: #343530;
	text-align: center;
	font-size: 45px;	
	font-family: 'Orbitron';
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
	font-weight: 400;
	font-family: 'Orbitron';
	text-align: center;
}

p {
	line-height: 1.5em;
}

#contact {
	font-style: italic;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

ul {
	display: inline;
	text-align: center;
	list-style: none;
	font-family: 'Jura';
}


#three_column {
    background-color: #FFB7CF;
    border: 2px black solid;
    padding: 20px;
}

#left {
    background-color: #D3D3D3;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#center {
    background-color: #D3D3D3;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: #D3D3D3;
    border: 1px black solid;
    padding: 20px; 
    float: right;
    width: 30%;
}

#two {
	background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}
footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
	font-family: 'Orbitron';
	font-weight: 700;
	text-align: center;
}

