@import url(https://fonts.googleapis.com/css?family=Bangers);
@import url(https://fonts.googleapis.com/css?family=Orbitron);
@import url(https://fonts.googleapis.com/css?family=Jura:400,600);

body {
	background: url(images/nightbaybridge.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: black;
}

header {
    background-color:#808080;
    border: 1px black solid;
    padding: 5px;
    font-family: 'Orbitron';
    font-size: 75px;
}

ul {
	display: inline;
}

h2 {
	color: #343530;
	text-align: center;
	font-size: 45px;	
	font-family: 'Orbitron';
}

p {
	line-height: 1.5em;
}

nav {
	padding: 3px;
	font-family: 'jura';
	font-size: 20px;
	background-color: #black;
	border: 1px black solid;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
	font-family: 'Orbitron';
	font-weight: 700;
	text-align: center;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}