@import url(https://fonts.googleapis.com/css?family=Bangers);
@import url(https://fonts.googleapis.com/css?family=Orbitron);
@import url(https://fonts.googleapis.com/css?family=Jura:400,600);

header {
    background-color: #FFFF00;
    border: 1px black solid;
    padding: 20px;
    font-family: 'Orbitron';
    font-size: 75px;
    text-align: center;
}

head {    
    font-weight: 100;
    font-family: 'Orbitron';
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}

body {
	background: url(images/nightbaybridge.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	background-color: black;
}

header {
	background-color: black;
	border: 1px black solid;
	padding: 20px;
}

h2 {
	color: #778899;
	text-align: center;
	font-size: 45px;	
	font-family: 'Jura';
}

#three_column {
    background-color: #808080;
    border: 2px black solid;
    padding: 20px;
}

#left {
    background-color: #D3D3D3;
    border: 1px black solid;
    padding: 10px;
    float: left;
    width: 25%;
}

#center {
    background-color: #D3D3D3;
    border: 1px black solid;
    padding: 10px;
    float: left;
    width: 25%;
}

#right {
    background-color: #D3D3D3;
    border: 1px black solid;
    padding: 10px; 
    float: left;
    width: 25%;
}

#Need {
	background-color: #808080;
    border: 1px black solid;
    padding: 10px;
}

#contact {
	font-family: 'Jura', sans-serif;
	font-style: italic;
	font-size: 30px;
	text-align: center;
}


nav {
	background-color: #778899;
	border: 1px black solid;
	padding: 20px;
}

ul {
	display: inline;
	text-align: center;
	list-style: none;
	font-family: 'Jura';
}

footer {
	background-color: #708090;
	border: 1px black solid;
	padding: 20px;
	font-family: 'Orbitron';
	font-weight: 700;
	text-align: center;
}

@media only screen and (max-width: 480px) {
	nav {
		float: none;
	}

	nav a {
		margin: 0 1.6em .75em 0;
	}

	img {
		width: 320px;
	}