@import url(https://fonts.googleapis.com/css?family=Bangers);
@import url(https://fonts.googleapis.com/css?family=Cookie);
@import url(https://fonts.googleapis.com/css?family=Meddon);
@import url(https://fonts.googleapis.com/css?family=Paprika);

body {
	background-image: url(../img/pigmentcolorpowdermakeup.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #000;

}

h1 {
	text-align: right;
	color: purple;
	font-family: 'Bangers';
	font-style: normal;
	font-weight: bold;
	position: absolute;
	font-size: 70px;
	top: -1px;	
	right: 30px;
}



hr, p {
	text-align: right;
	color: purple;
	font-style: normal;
	font-weight: normal;

}

#slogan{
	font-weight: lighter;
	font-size: 25px;
	position: absolute;
	font-family: 'Meddon';
	top: 70px;	
	right: 50px;
}

#contact{
	font-size: 15px;
	font-weight: lighter;
	font-family: 'Paprika';
	right: 30px;
	bottom: 10px;
	position: absolute;
}